// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  width: 900px;
  text-align: left;
  padding: 50px;
}


#task-card a {
  font-size: 18px;
  text-decoration: none;
  color: black;
  padding-left: 10px;
}

#task-card i {
  vertical-align: center;
  padding-left: 10px;
}

#task-details {
  border-radius: 20px;
  border: 1px solid lightgrey;
  padding: 25px;
  background-color: #f1f4f1;

}

li {
  list-style: none;
}

ul {
  padding-left: 5px;
}

#card-item {
  padding: 10px;
}
